

parameters:
    paths:
        - ./app
        - ./database/factories
        - ./database/seeders
        - ./routes
        - ./tests

    ignoreErrors:
        - '#PHPDoc tag @mixin contains unknown class App\\(.+)\\Models#'

    # Level 9 is the highest level
    level: 5

#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
